html, body {
  overflow-x: hidden;
}

.row {
  padding-top: 50px;
}

#front {
  background-image: url("https://scontent-dub4-1.xx.fbcdn.net/v/t1.0-9/29178590_822110444640865_1535703683109486592_o.jpg?oh=261235af29f818d8bd63977981316d63&oe=5B4BB58F");
  height: 100vh;
  /* background-size: 100% 100%; */
  color: black;
}

#front h1 {
  text-align: center;
  margin-top: 40vh;
}

iframe {
  width: 100%;
  height: 90% !important;
  /* margin-top: 20vh; */
}

.btn {
  opacity: .7;
  color: black;
}

#footer {
  border-top: solid 1px grey;
  padding-bottom: 25px;
}

#footer .btn {
  width: 100%;
}

#social-media {
  /* height: 100vh; */
  color: white;
}

#twitter-feed {
  height: 100% !important;
}

.twitter-timeline {
  width: 100%;
  height: 90% !important;
}


#food-menu {
  text-align: center;
  background-color: #FCFBE3;
  color: grey;
}

#food-menu h1 {
  border-bottom: inset 2px black;
  font-family: monospace;
}

#food-menu h4 {
  text-align: center;
}

#food-menu p {
  color: grey;
  font-weight: 300;
}

#facebook iframe{
  width: 100% !important;
  height: 487px !important;
}

.widSSP {
  width: 100% !important;
}
